.contacts-content-box1 {
  display: flex;
  background-color: #301b81;
  border-radius: 20px;
}

@media (max-width: 1199px) {
  .contacts-content-box1 {
    flex-wrap: wrap;
    row-gap: 16px;
  }
}

.contacts-content-box1.layout {
  position: relative;
  height: min-content;
  width: 77.01%;
  margin: 18px auto 0px;
}

@media (max-width: 1199px) {
  .contacts-content-box1.layout {
    margin: 16px auto 0px;
  }
}

@media (max-width: 991px) {
  .contacts-content-box1.layout {
    margin: 13px auto 0px;
  }
}

@media (max-width: 767px) {
  .contacts-content-box1.layout {
    margin: 11px auto 0px;
  }
}

@media (max-width: 575px) {
  .contacts-content-box1.layout {
    margin: 10px auto 0px;
  }
}

@media (max-width: 479px) {
  .contacts-content-box1.layout {
    margin: 9px auto 0px;
  }
}

.contacts-content-box1-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
  width: 20%;
}

@media (max-width: 1199px) {
  .contacts-content-box1-item {
    flex: 0 0 100%;
  }
}

.contacts-medium-title2 {
  font: 700 25px/1.2 "Montserrat";
  color: white;
  letter-spacing: 0px;
}

@media (max-width: 1199px) {
  .contacts-medium-title2 {
    font-size: 23px;
    text-align: left;
  }
}

@media (max-width: 991px) {
  .contacts-medium-title2 {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .contacts-medium-title2 {
    font-size: 19px;
  }
}

@media (max-width: 575px) {
  .contacts-medium-title2 {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .contacts-medium-title2 {
    font-size: 17px;
  }
}

.contacts-medium-title2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 32px 0px 72px 25px;
}

@media (max-width: 1199px) {
  .contacts-medium-title2.layout {
    margin: 28px 22px 2px;
  }
}

@media (max-width: 991px) {
  .contacts-medium-title2.layout {
    margin: 24px 19px 2px;
  }
}

@media (max-width: 767px) {
  .contacts-medium-title2.layout {
    margin: 20px 16px 2px;
  }
}

@media (max-width: 575px) {
  .contacts-medium-title2.layout {
    margin: 18px 14px 2px;
  }
}

@media (max-width: 479px) {
  .contacts-medium-title2.layout {
    margin: 16px 13px 2px;
  }
}

@media (max-width: 383px) {
  .contacts-medium-title2.layout {
    margin: 15px 12px 2px;
  }
}

.contacts-content-box1-spacer {
  flex: 0 1 214px;
}

@media (max-width: 1199px) {
  .contacts-content-box1-spacer {
    display: none;
  }
}


.contacts-content-box1-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 771px;
}

@media (max-width: 1199px) {
  .contacts-content-box1-item1 {
    flex: 0 0 100%;
  }
}

.contacts-medium-title3 {
  font: 500 25px/1.2 "Montserrat";
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
}

@media (max-width: 1199px) {
  .contacts-medium-title3 {
    font-size: 23px;
    text-align: left;
  }
}

@media (max-width: 991px) {
  .contacts-medium-title3 {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .contacts-medium-title3 {
    font-size: 19px;
  }
}

@media (max-width: 575px) {
  .contacts-medium-title3 {
    font-size: 18px;
  }
}

@media (max-width: 479px) {
  .contacts-medium-title3 {
    font-size: 17px;
  }
}

.contacts-medium-title3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 32px 6px 42px 0px;
}

@media (max-width: 1199px) {
  .contacts-medium-title3.layout {
    margin: 28px 10px 36px;
  }
}

@media (max-width: 991px) {
  .contacts-medium-title3.layout {
    margin: 24px 10px 30px;
  }
}

@media (max-width: 767px) {
  .contacts-medium-title3.layout {
    margin: 20px 10px 24px;
  }
}

@media (max-width: 575px) {
  .contacts-medium-title3.layout {
    margin: 18px 10px 22px;
  }
}

@media (max-width: 479px) {
  .contacts-medium-title3.layout {
    margin: 16px 10px 19px;
  }
}

@media (max-width: 383px) {
  .contacts-medium-title3.layout {
    margin: 15px 5px 17px;
  }
}

.contacts-group {
  display: flex;
  flex-direction: column;
}

.contacts-cover-block {
  display: flex;
  flex-direction: column;
  background-color: #301b81;
  border-radius: 20px 20px 20px 20px;
}

.contacts-map-container {
  padding: 1px 0px 40px 0;
  text-align: center;
}

.contacts-map-layout {
  position: relative;
  height: 386px;
  width: 85.83%;
  margin: 20px auto 30px;
}

@media (max-width: 1399px) {
  .contacts-map-layout {
    width: 88.98%;
  }
}

@media (max-width: 1199px) {
  .contacts-map-layout {
    width: 91.5%;
    margin: 27px auto 30px;
  }
}

@media (max-width: 991px) {
  .contacts-map-layout {
    width: 93.49%;
    margin: 23px auto 30px;
  }
}

@media (max-width: 767px) {
  .contacts-map-layout {
    width: 95.04%;
    margin: 19px auto 30px;
  }
}

@media (max-width: 575px) {
  .contacts-map-layout {
    width: 96.23%;
    margin: 18px auto 30px;
  }
}

@media (max-width: 479px) {
  .contacts-map-layout {
    width: 97.15%;
    margin: 16px auto 30px;
  }
}

@media (max-width: 383px) {
  .contacts-map-layout {
    width: 97.84%;
    margin: 15px auto 30px;
  }
}

.contacts-content-box-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}

@media (max-width: 991px) {
  .contacts-content-box-item {
    flex: 0 0 100%;
  }
}

.contacts-content-box-spacer {
  flex: 0 1 307px;
}

@media (max-width: 991px) {
  .contacts-content-box-spacer {
    display: none;
  }
}